{% extends "base.html" %}

{% block content %}
    <div>
        <h1>{{ institution.name }}</h1>
        <p> NPI: {{ institution.npi}} </p>
        <address>
            {{ institution.address1 }}<br>
            {{ institution.city }} {{ institution.state }} {{ institution.zip_code }}<br>
        </address>
    </div>
     <div class="col">
        <table>
            <thead>
                <tr>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zip Code</th>
                </tr>
              </thead>
            <tbody>
                {% for address in addresses %}
                <tr scope="row">
                    <td>{{ address.address1}}</td>
                    <td>{{ address.city}} </td>
                    <td>{{ address.state}} </td>
                    <td>{{ address.zip_code}} </td>
                </tr>
                {% endfor %}
        </table>
    </div>

    <div class="col">
        <table>
            <thead>
                <tr>
                    <th scope="col">HCPCS Code</th>
                    <th scope="col">Description</th>
                    <th scope="col">Count</th>
                </tr>
              </thead>
            <tbody>
                {% for medicare_item in medicare %}
                <tr scope="row">
                    <td>{{ medicare_item.hcpcs_code}}</td>
                    <td>{{ medicare_item.hcpcs_description}} </td>
                    <td>{{ medicare_item.line_service_count}} </td>
                </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}
