{% extends "base.html" %}

{% block content %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJNmTdUlUdLDvYa2wecXcm_IwIr-PTWwo&callback=initMap"></script>

<!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap_old() {
    // The location of Uluru
    var uluru = {lat: 42.42018, lng: -72.10615};
    var auburn_al = {lat: 32.5389, lng: -85.49207};

    // The map, centered at Uluru
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 4, center: uluru});


  //The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
  var marker1 = new google.maps.Marker({position: auburn_al, map: map, title:"Auburn Alabama"});

  var data = "Auburn, Alabama!";
  var infowindow = new google.maps.InfoWindow({content: data});
  google.maps.event.addListener(marker1, 'click', function() {infowindow.open(map,marker1);});
}

function addMarker(lat, lng, text, map, type){
    var position = {lat: lat, lng: lng};
    var blue_icon = { url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png" }
    var red_icon = { url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png" }
    var yellow_icon = { url: "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png" }
    var pink_icon = { url: "http://maps.google.com/mapfiles/ms/icons/pink-dot.png" }
    var purple_icon = { url: "http://maps.google.com/mapfiles/ms/icons/purple-dot.png" }

    switch(type){
      case 0: icon= blue_icon; break;
      case 1: icon= yellow_icon; break;
      case 2: icon= pink_icon; break;
      case 3: icon= purple_icon; break;
      case 4: icon= red_icon; break;
      default: blue_icon;
    }

    var marker = new google.maps.Marker({position: position, map: map, title: text, icon: icon});


    // var infowindow = new google.maps.InfoWindow({content: text});
    // google.maps.event.addListener(marker, 'click', function() {infowindow.open(map,marker);});

    return marker
  }

function initMap(){
  $.getJSON('/data/zipcode_50000.json', function(data){

    {% if zipcode %}
      var default_zip_code = {{ zipcode }}
    {% else %}
      var default_zip_code = 10001
    {% endif %}

    {% if zipcode %}
      var threshold = {{ threshold }}
    {% else %}
      var threshold = 1000
    {% endif %}

    {% if zoom_level %}
      var zoom_level = {{ zoom_level }}
    {% else %}
      var zoom_level = 4
    {% endif %}
      var zip_code_item = data.items.find(function(item){
        return parseFloat(item.zip) == default_zip_code
      })

      var center_position = {lat: 42.42018, lng: -72.10615};

      if (zip_code_item) {
        center_position = {lat: parseFloat(zip_code_item.lat), lng: parseFloat(zip_code_item.lng)}
      }

      // The map, centered at zipcode entered
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: zoom_level, center: center_position});


      data.items.forEach(function(info){
          var lat = parseFloat(info.lat)
          var lng = parseFloat(info.lng)
          var county = info.county_name
          var state = info.state_id
          var zip_code = info.zip
          var hcp_count = info.hcp_count
          var hco_count = info.hco_count

          if(hcp_count > threshold){
            type = Math.floor(Math.log10(hcp_count))
            marker = addMarker(lat, lng, county + " " + state + ", " + zip_code + " Providers: " + hcp_count + " Hospitals: " + hco_count, map, type)
            google.maps.event.addListener(marker, 'click', function() {

              url="/app/zipcode/" + zip_code
              console.log(url)
              window.open(url, '_blank');
            });
          }
        })
  });
}

// $.getJSON('zipcode.json', function(data){
//   // The location of Uluru
//   var uluru = {lat: 42.42018, lng: -72.10615};
//   var auburn_al = {lat: 32.5389, lng: -85.49207};
//   // The map, centered at Uluru
//   var map = new google.maps.Map(
//       document.getElementById('map'), {zoom: 4, center: uluru});
//
//   function addMarker(lat, lng, text, map){
//     var position = {lat: lat, lng: lng};
//     var marker = new google.maps.Marker({position: position, map: map});
//
//     var infowindow = new google.maps.InfoWindow({content: text});
//     google.maps.event.addListener(marker, 'click', function() {infowindow.open(map,marker);});
//   }
//
//   data.items.forEach(function(info){
//     lat = parseFloat(info.lat)
//     lng = parseFloat(info.lng)
//     county = info.county_name
//     state = info.state_id
//     zip_code = info.zip
//     console.log(lat, lng, county, state, zip_code)
//     addMarker(lat, lng, county + " " + state + ", " + zip_code)
//   })
// })


  </script>
{% endblock %}