{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4">
            <h3>Zip Code: {{ zipcode[0].zip_code }}</h3>
            <address>
                State: {{ zipcode[0].state }}<br>
                County: {{ zipcode[0].county_name }}<br>
            </address>
        </div>
        <div class="col-8">
            <div></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Healthcare Providers</h4>
            <table>
                <thead>
                    <tr>
                        <th scope="col">NPI</th>
                        <th scope="col">Name</th>
                        <th scope="col">Score</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for provider in providers %}
                    <tr scope="row">
                        <td><a href="/app/provider/{{ provider.npi }}">{{ provider.npi }}</a></td>
                        <td>{{ provider.first_name}} {{provider.last_name}}</td>
                        <td>{{ provider.score}}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        <div class="col">
            <h4>Institutions</h4>
            <table>
                <thead>
                    <tr>
                        <th scope="col">NPI</th>
                        <th scope="col">Name</th>
                        <th scope="col">Score</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for institution in institutions %}
                    <tr scope="row">
                        <td><a href="/app/institution/{{ institution.npi }}">{{ institution.npi }}</a></td>
                        <td>{{ institution.name}} </td>
                        <td>{{ institution.score}} </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}