{% extends "base.html" %}

{% block content %}
<div>
    <h1>Zip Code: {{ zipcode[0].zip_code }}</h1>
    <address>
        State: {{ zipcode[0].state }}<br>
        County: {{ zipcode[0].county_name }}<br>
        FIPS: {{ zipcode[0].fips }}<br>
        Population: {{ zipcode[0].population }}<br>
    </address>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th scope="col">NPI</th>
                        <th scope="col">Name</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for provider in providers %}
                    <tr scope="row">
                        <td><a href="/app/provider/{{ provider.npi }}">{{ provider.npi }}</a></td>
                        <td>{{ provider.first_name}} {{provider.last_name}}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th scope="col">NPI</th>
                        <th scope="col">Name</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for institution in institutions %}
                    <tr scope="row">
                        <td><a href="/app/institution/{{ institution.npi }}">{{ institution.npi }}</a></td>
                        <td>{{ institution.name}} </td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}